.qPage {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
}

.qHeader {
  padding: 20px;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.qHeader h1, .qHeader h2 {
  margin: 0;
}

.qHeader h1 {
  font-size: 100px;
  font-weight: bold;
}

.qBody {
  background: #ECF0F1;
  flex: 3;
}

.qList {
  height: 100%;
}

.qItem {
  margin: 48px 48px;
  display: flex;
  -webkit-box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.34);
  -moz-box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.34);
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.34);
  background: #fff;
  align-items: stretch;
}

.qNumber {
  padding: 0 20px;
  font-size: 70px;
  color: #fff;
  font-weight: bold;
  display: flex;
  align-items: center;
}

.qNameContainer {
  padding: 0 30px;
  font-size: 70px;
  flex: 1;
  display: flex;
  align-items: center;
}

.qName {
  flex: 1;
}
